<html>
  <head>
    <title>{{ title }}</title>
    <style type="text/css" rel="stylesheet" href="styles/main.css"></style>
  </head>
  <body>
    <h1>Tweets!</h1>
    <div class="tweets">
      {% for post in posts %}
        <div class="newfriend">
          <div class="avi">
            <img src="{{ post.avi }}" />
          </div>
          <p>{{ post.handle }}</p>
          <p>{{ post.text }}</p>
          {% if post.hashtags|length > 0 %}
              <p>{{ post.hashtags }}</p>
              {% for h in posts.hashtags %}
                <p>{{ h }}</p>
              {% endfor %}
          {% endif %}
          <p><a href="">Go to profile</a></p>
        </div>
      {% endfor %}
      </div>
  </body>
</html>