body {
    margin: 0;
}

.banner {
    background-color: #2A2D5B;
    height: 60px;
}

.banner h1 {
    color: white;
    text-align: center;
    line-height: 50px;
}

.tweets {
    max-width: 900px;
    display: block;
    background-color: #B2E0FF;
    margin: 0 auto;
}

.newfriend {
    width: 360px;
    height: 900px;
    background-color: white;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 60px;
    left: 600px;
}   

.avi img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 20px; 
}

.actions {
    width: 100%;
}

/* Wrap the go to profile button in a div if styling all anchors becomes problematic */
a {
    font-size: 10px;
}